.checkout-container {
    height: 100vh;
    padding-left: 12%;
    padding-right: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .checkout-text-container {
        h1 {
            font-size: 3rem;
            font-family: 'Exo 2';
        }

        .red {
            color: #FA2759;
        }

        .mint {
            color: #2DFCD8;
        }
    }


    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #2DFCD8;
        width: 200px;
        height: 60px;
        margin-top: 60px;
        color: whitesmoke;

        &:hover {
            background-color: #2DFCD8;
            cursor: pointer;

            p {
                color: black;
            }
        }

        a {
            text-decoration: none;
            color: white;
        }
    }

}

@media (min-width: 2560px) {
    h1 {
        font-size: 4rem !important;
    }

    .button {
        font-size: 1.5rem !important;
        width: 240px !important;
        height: 85px !important;
    }
}

@media (max-width: 1440px) {
    h1 {
        font-size: 2.5rem !important;
    }
}

@media (max-width: 1185px) {
    h1 {
        font-size: 1.7rem !important;
    }

    .button {
       width: 175px !important; 
       height: 55px !important;
    }
}

@media (max-width: 850px) {
    .checkout-container {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}

@media (max-width: 375px) {
    .button {
        width: 160px !important;
        height: 50px !important;
    }
}