.skills-section-container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    padding: 60px 0px;
    background-color: #1A1A1A;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    .skills-headline {
        h1 {
            display: flex;
            justify-content: center;
            font-family: 'Exo 2';
            text-transform: uppercase;
        }
    }

    .skill-boxes-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;

        .skill-box {
            position: relative;

            .skill-icon-container {
                background-color: white;
                width: 75px;
                height: 75px;
                position: absolute;
                top: -39px;
                left: 64px;
                right: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                box-shadow: 0 0 5px;

                img {
                    width: 40px;
                    object-fit: cover;
                }
            }

            width: 200px;
            height: 150px;
            background-color: white;
            margin: 2rem 4rem;
            border-radius: 12px;
            color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
        }
    }
}

@media (max-width: 1090px) {

    .skill-boxes-container {
        width: 800px !important;
    }

    .skill-box {
        margin: 2rem 2rem !important;
    }
}

@media (max-width: 820px) {

    .skill-boxes-container {
        width: 595px !important;
    }

    .skill-box {
        margin: 2rem 3rem !important;
    }
}

@media (max-width: 600px) {

    .skill-boxes-container {
        width: 430px !important;

        .skill-box {
            width: 150px !important;
            height: 100px !important;
            margin: 2rem 2rem !important;

            .skill-icon-container {
                width: 50px !important;
                height: 50px !important;
                left: 53px !important;

                img {
                    width: 25px !important;
                }
            }
        }
    }
}

@media (max-width: 425px) {

    .skill-boxes-container {
        width: 300px !important;

        .skill-box {
            width: 115px !important;
            margin: 2rem 1rem !important;

            p {
                text-align: center;
            }

            .skill-icon-container {
                left: 35px !important;
            }
        }
    }

}