<div class="skills-section-container">

    <div class="skills-headline">
        <h2>My Skills</h2>
    </div>

    <div class="skill-boxes-container">
        <div class="skill-box"></div>
        <div class="skill-box"></div>
        <div class="skill-box"></div>
        <div class="skill-box"></div>
        <div class="skill-box"></div>
        <div class="skill-box"></div>
        <div class="skill-box"></div>
        <div class="skill-box"></div>
        <div class="skill-box"></div>
    </div>

</div>