.about-me-container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    background-color: #1A1A1A;
    padding: 60px 105px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;

    .about-me-header {
        display: flex;
        margin-bottom: 60px;

        img {
            width: 200px;
            height: 200px;
            object-fit: cover;
            border-radius: 100%;
        }

        .about-me-text {
            text-align: center;
            width: 350px;
            margin-left: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: rgba(255, 255, 255, 0.85);

            h1 {
                margin-bottom: 1rem;
                color: rgba(255, 255, 255, 1);
                font-family: 'Exo 2';
                text-transform: uppercase;
            }

            p{
                font-size: 1rem;
                line-height: 1.5;
            }
        }
    }

    hr {
        border-color: #2dfcd8;
        width: 100%;
    }

    .about-me-body {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
        width: 100%;

        .cv-boxes {
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            align-items: center;
            width: 250px;
            font-size: 1rem;

            .icon-container {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #2dfcd8;
                border-radius: 50%;
                width: 70px;
                height: 70px;
                margin-bottom: 1rem;

                img {
                    width: 30px;
                    height: 30px;
                    object-fit: cover;
                }
            }

            .text-container {
                .headline {
                    margin-bottom: 1rem;
                    text-transform: uppercase;
                    color: rgba(255, 255, 255, 1);
                    font-family: 'Exo 2';
                    text-transform: uppercase;
                }

                p {
                    line-height: 1.5;
                    color: rgba(255, 255, 255, 0.85);
                }
            }
        }
    }
}