.contact-me-container {
    max-width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 60px 105px;

    .headline-container {
        width: 650px;

        h1 {
            color: rgb(45, 252, 216);
            font-family: 'Exo 2';
            text-transform: uppercase;
        }

        p {
            font-size: 0.8rem;
            color: rgba(255, 255, 255, 0.7);
            margin-top: 1rem;
        }

        a {
            color: rgba(45, 252, 216, 0.7);
            text-decoration: none;
        }
    }

    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 3rem;

        form {
            display: flex;
            flex-direction: column;
            width: 650px;

            label {
                margin-bottom: .5rem;
            }

            input {
                margin-bottom: 1.5rem;
                padding-left: 1rem;
                background-color: #1a1a1a;
                border: none;
                height: 45px;
                outline-color: #2DFCD8;
                color: rgba(255, 255, 255, 0.7);
            }

            textarea {
                background-color: #1a1a1a;
                border: none;
                font-family: 'Inter';
                padding-left: 1rem;
                padding-top: 1rem;
                outline-color: #2DFCD8;
                color: rgba(255, 255, 255, 0.7);
            }
        }
    }

    .button-container {
        width: 650px;
        display: flex;
        justify-content: flex-end;

        .button {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid #2DFCD8;
            width: 150px;
            height: 60px;
            margin-top: 45px;
            cursor: pointer;

            a {
                text-decoration: none;
                color: white;
            }
        
            &:hover {
                background-color: #2DFCD8;
                color: black;

                p {
                    color: black;
                }
            }
        }

    }  
}

@media (max-width:768px) {
    
    .contact-me-container {
        padding: 60px 50px;

        .headline-container {
            width: 450px;
        }

        form {
            width: 450px !important;
        }
    }

    .button-container {
        width: 450px !important;
    }
}

@media (max-width: 600px) {
    .contact-me-container {
        padding: 60px 25px !important;

        .headline-container {
            width: 350px;
        }

        form {
            width: 350px !important;
        }

        .button-container {
            width: 350px !important;
        }
    }
}