.portfolio-section-container {
    max-width: 100vw;
    min-height: 100vh;
    padding: 60px 105px;

    .header-container {
        display: flex;
        justify-content: center;
        font-family: 'Exo 2';
        text-transform: uppercase;
    }

    .project-filter-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .active {
            background-color: #FA2759;
        }

        .project-filter {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid #FA2759;
            width: 150px;
            height: 80px;
            margin: 40px 20px;
            cursor: pointer;

            &:hover {
                background-color: rgb(250, 39, 89);
                transition: 125ms;
            }
        }
    }

    .projects-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .projects-boxes-container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 80%;
        }

        .project-box {
            width: 450px;
            height: 300px;
            margin: 1rem;
            border-radius: 6px;
            position: relative;

            .project-cover {
                object-fit: cover;
                width: 450px;
                border-radius: 6px;
                overflow: hidden;
            }

            &:hover {
                box-shadow: 5px 5px 18px -5px rgba(250, 39, 89, 0.7);
                transition: 125ms;
                // cursor: pointer;
            }

            .project-info {
                color: black;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                padding: 3rem 2rem;

                h1 {
                    font-family: "Exo 2";
                    text-transform: uppercase;
                }

                p {
                    margin-top: 1rem;
                    text-align: center;
                }

                button {
                    border: 2px solid #FA2759;
                    margin-left: 1rem;
                    margin-right: 1rem;
                    padding: 1rem;
                    background-color: white;
                    text-transform: uppercase;
                    // cursor: pointer;

                    a {
                        text-decoration: none;
                        color: #FA2759;
                    }

                    &:hover {
                        background-color: #FA2759;
                        transition: all 125ms ease-in-out;

                        a {
                            color: black;
                        }
                    }
                }

                &:hover {
                    opacity: 1;
                    background-color: rgba(255, 255, 255, 0.7);
                    transition: all 125ms ease-in-out;
                }
            }
        }
    }
}

@media (max-width: 1195px) {

    .projects-boxes-container {
        width: 100% !important;
    }
}

@media (max-width:768px) {

    .portfolio-section-container {
        padding: 60px 50px;
    }
}

@media (max-width: 600px) {
    .portfolio-section-container {
        padding: 60px 25px;
    }

    .project-box {
        width: 350px !important;
        height: unset !important;

        img {
            width: 350px !important;
        }

        .project-info {
            padding: 1rem !important;

            h1 {
                font-size: 1.5rem;
            }

            .button-container {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                button {
                    padding: 0.3rem !important;
                    margin-top: 1rem;
                }
            }
        }

    }
}

@media (max-width: 500px) {

    .project-filter {
        margin: 40px 10px !important;
    }

}