<div class="portfolio-section-container" id="portfolio-section-container">

    <div class="header-container">
        <h1>Portfolio</h1>
    </div>

    <div class="project-filter-container">
        <div [class.active]="allProjects" (click)="showAllProjects()" class="project-filter">All</div>
        <div [class.active]="angularProjects" (click)="showAngularProjects()" class="project-filter">Angular</div>
        <div [class.active]="jsProjects" (click)="showJsProjects()" class="project-filter">JavaScript</div>
    </div>



    <div class="projects-boxes-container">

        <div class="row1">
            <div data-aos="flip-right" class="project-box" *ngIf="allProjects || jsProjects">
                <img class="project-cover" src="assets/img/portfolio_screenshots/el_pollo_loco.png" alt="">
                <div class="project-info">
                    <h1>El Pollo Loco</h1>
                    <p>This is a 2D Jump and Run Game based on object-oriented programming (OOP)</p>
                    <div class="button-container">
                        <a href="https://www.pollo-loco.kev-wagner.com/" target="_blank"><button>Try it out</button></a>
                        <a href="https://github.com/Kev4493/El_pollo_loco" target="_blank"><button>Show me the Code</button></a>
                    </div>
                </div>
            </div>

            <div data-aos="flip-right" class="project-box" *ngIf="allProjects || jsProjects">
                <img class="project-cover" src="assets/img/portfolio_screenshots/join.png" alt="">
                <div class="project-info">
                    <h1>Join - Kanban Board</h1>
                    <p>This is a Kanban Board for project and personal management. </p>
                    <div class="button-container">
                        <a href="https://join.kev-wagner.com/" target="_blank"><button>Try it out</button></a>
                        <a href="https://github.com/MadMax8704/Kanban.git" target="_blank"><button>Show me the
                                Code</button></a>
                    </div>
                </div>
            </div>

        </div>

        <div class="row2">
            <div data-aos="flip-right" class="project-box" *ngIf="allProjects || angularProjects">
                <img class="project-cover" src="assets/img/portfolio_screenshots/ring_of_fire.png" alt="">
                <div class="project-info">
                    <h1>Ring of Fire</h1>
                    <p>This is an Angular based webapp of the popular drinking game</p>
                    <div class="button-container">
                        <a href="https://ring-of-fire.kev-wagner.com/" target="_blank"><button>Try it out</button></a>
                        <a href="https://github.com/Kev4493/Ring-of-Fire/tree/main/ringoffire"
                            target="_blank"><button>Show me the Code</button></a>
                    </div>
                </div>
            </div>

            <div data-aos="flip-right" class="project-box" *ngIf="allProjects || angularProjects">
                <img class="project-cover" src="assets/img/portfolio_screenshots/portfolio.png" alt="">
                <div class="project-info">
                    <h1>Portfolio</h1>
                    <p>My personal homepage was created with angular</p>
                    <div class="button-container">
                        <a href="https://kev-wagner.com/" target="_blank"><button>Try it out</button></a>
                        <a href="https://github.com/Kev4493/Portfolio" target="_blank"><button>Show me the
                                Code</button></a>
                    </div>
                </div>
            </div>
        </div>

    </div>



</div>