<header>
    <a href="home-section"><img class="header-logo" src="../../assets/img/logo_white.png" alt=""></a>

    <div>
        <a href="#home-section">Home</a>
        <a href="#skills-section-container">Skills</a>
        <a href="#portfolio-section-container">Portfolio</a>
        <a href="#footer-container">Imprint</a>
    </div>


    <div mat-button [matMenuTriggerFor]="menu" class="example-button-container">
        <img mat-button mat-mini-fab color="" aria-label="Example icon button with a menu icon" [matMenuTriggerFor]="menu" class="burger-menu" src="../../assets/icons/menu_FILL0_wght400_GRAD0_opsz48.png" alt="">
    </div>

    <mat-menu class="mobile-menu" #menu="matMenu">
        <a href="#footer-container"><button mat-menu-item>Home</button></a>
        <a href="#footer-container"><button mat-menu-item>Skills</button></a>
        <a href="#footer-container"><button mat-menu-item>Portfolio</button></a>
        <a href="#footer-container"><button mat-menu-item>Imprint</button></a>

        <!-- <button mat-menu-item><a href="#home-section" style="color: black">Home</a></button>
        <button mat-menu-item> <a href="#skills-section-container" style="color: black">Skills</a></button>
        <button mat-menu-item> <a href="#portfolio-section-container" style="color: black">Portfolio</a></button>
        <button mat-menu-item><a href="#footer-container" style="color: black">Imprint</a></button> -->
    </mat-menu>

    
</header>