.imprint-container {
    padding-left: 111.344px;
    padding-right: 111.344px;
    padding-top: 200px;
    height: 100vh;
}

@media (max-width: 800px) {
    .imprint-container {
        padding-left: 85.125px;
        padding-right: 85.125px;
    };
}

@media (max-width: 950px) {
    .imprint-container {
        padding-left: 93.344px;
        padding-right: 93.344px;
    };
}

@media (max-width: 600px) {
    .imprint-container {
        padding-left: 39.344px;
        padding-right: 39.344px;
    };
}

@media (max-width: 414px) {
    .imprint-container {
        padding-left: 49.969px;
        padding-right: 49.969px;
    };
}