<div id="home-section" class="home-section-container">

    <div class="home-section">
        <div>
            <div class="welcome-text">
                <h1>Hi,<br> I'm <span class="red">Kevin</span> Wagner<br> Front End develop<span class="mint">e</span>r</h1>
            </div>
            
            <div class="button">
                <p>Contact me</p>
            </div>
        </div>
    
        <div>
            <img class="profile-picture" src="../../assets/img/Profilbild.jpeg" alt="">
        </div>
    </div>

    <div class="down-icon-container">
        <a href="#skills-section-container"><img class="down-icon" src="../../assets/icons/down-icon.png" alt=""></a>
    </div>

</div>